{% extends 'blog/base.html' %}

{% block title %}
    Новости
{% endblock %}

{% block page_title %}
  <h1>Удаление поста</h1>
{% endblock %}

{% block content %}

    <div class="card rounded-3 bg-dark text-white  p-3">
        
        <div class="card-body mt-2 p-3 rounded-3">
            <h3>Точно увеерны, что хотите удалить?</h3>
            <h4>{{ post.title }}</h4>
        </div>

        <a href="{% url 'blog:delite' post.pk %}" class="btn btn-warning ms-5 me-5">
        Удаление поста полностью
        </a>

    </div>
{% endblock %}


{% block bottom %}
    <div class="row p-2 mt-2">
        <div class="col-3"></div>

        <div class="col-6">
        <div class="row p-1">
            <div class="col-4 mt-1"></div>
        
            <div class="col-4 text-post-title">
            <div class="d-grid gap-2">
                <a href="{% url 'blog:home' %}" class="btn btn-success">На главную...</a>
            </div>
            </div>
        
            <div class="col-4 mt-1"></div>
        
        </div>
        </div>

        <div class="col-3"></div>

    </div>
{% endblock %}
