{% extends 'blog/base.html' %}

{% block title %}
    Новости
{% endblock %}

{% block page_title %}
  <h1>Новости</h1>
{% endblock %}

{% block content %}
  <div class="row row-cols-2 p-1">
    
    {% for post in posts %}
      <div class="col mb-5">
        <div class="card rounded-3 ms-3 me-3 bg-post-card text-white-card border-secondary">
                <div class="card-header mt-1 text-post-title">
                  <h5>{{ post.title }}</h5>
                </div>

                <img src="/media/{{ post.preview }}" alt="">

                <div class="card-body">                    
                    <p class="card-text text-start" style="height: 6rem;">{{ post.content | truncatechars:100 }}</p>
                    
                    <div class="text-start bg-primary-footer text-white-card p-1">
                        <p>Дата публикации: {{ post.creation_date | date:"d M Y" }}</p>
                        <p>Просмотров {{ post.number_views }}</p>
                    </div>
                    
                    <form method="get" class="text-start mt-2">
                      {% csrf_token %}
                      <a href="{% url 'blog:post' post.pk %}" class="btn btn-top-line">
                        Просмотреть
                      </a>
                    </form>
                </div>
            </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}


{% block bottom %}
  <div class="row p-2">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="row">
        <div class="col-4 mt-1  text-start">
          <a href="{% url 'catalog:home' %}" class="btn btn-success">Магазин</a>
        </div>
    
        <div class="col-4 mt-1">
          <a href="{% url 'blog:create' %}" class="btn btn-success">Создать пост</a>
        </div>
    
        <div class="col-4 mt-1  text-end">
          <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <div class="flex-grow-0">
              <button type="submit" class="btn btn-warning">Выйти</button>
            </div>
          </form>
        </div>
    
      </div>
    </div>

    <div class="col-3"></div>

  </div>
{% endblock %}
