<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Контактная форма</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"> -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-2 vh-100 bg-dark text-white p-2">
            
                <div class="d-flex align-items-center ms-3">
                  <!--  href="/?img=bootstrap-logo-white.svg" -->
                  <img src="../../../static/images/bootstrap-logo-white.svg" alt="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-white.svg" width="40" height="32" class="d-inline-block">
                  <div class="flex-grow-0"><h2 class="mt-1 ms-4">Меню</h2></div>
                </div>

              <div class="col ms-1 mb-3 me-2"><hr></div>

              <div class="d-grid">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/?page=main">
                          <div class="d-flex text-bg-primary rounded-3">
                              <img src="https://www.stonybrook.edu/commcms/studentaffairs/res/_images/home_icon.png" alt="./data/home_9.png" width="24" height="20" class="d-inline-block mt-2 ms-2">
                              <div class="flex-grow-0 ms-2 mt-2"><h5>Главная</h5></div>
                          </div>
                        </a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" href="/?page=catalog">
                          <div class="d-flex bg-dark text-white ms-2">
                              <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699032-icon-44-note-text-1024.png" alt="./data/699033-icon-45-note-list-512.webp" width="26" height="24" class="d-inline-block mt-1">
                              <div class="flex-grow-0 ms-2 mt-1"><p>Категории</p></div>
                          </div>
                          
                        </a>
                      </li>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/?page=orders">
                            <div class="d-flex bg-dark text-white ms-2">
                                <img src="https://static.tildacdn.com/tild3938-6535-4466-a531-616432663735/cart-icon-png-white-.jpg" alt="./data/cart-icon-png-white-16.png" width="25" height="21" class="d-inline-block mt-1">
                                <div class="flex-grow-0 ms-2"><p>Заказы</p></div>
                            </div>
                          </a>
                      </li>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/?page=contacts">
                            <div class="d-flex bg-dark text-white ms-3">
                                <img src="https://easyfix96.blob.core.windows.net/easyfix/2021/05/phone-alt-solid-white.png" alt="./data/contact-book-1024.webp" width="20" height="22" class="d-inline-block mt-1">
                                <div class="flex-grow-0 mt-1 ms-2"><p>Контакты</p></div>
                            </div>
                          </a>
                      </li>
                  </ul>
                </div>
            
            </div>

            <div class="col-10">

                <div class="text-center p-4 mt-5">
                    <h1>Контакты</h1>
                </div>

                <div class="container-fluid p-1">
                  <div class="row p-5">
                    
                    <div class="col-sm-6 p-5">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="card rounded-3 ms-2 me-2">

                                <div class="p-2 ms-1">
                                  <label for="name" class="form-label">Имя</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3 basic-addon4" required>
                                  </div>
                                </div>
                                
                                
                                <div class="p-2 ms-1">
                                    <label for="message" class="form-label">Сообщение</label>
                                    <div class="form-floating">
                                        <textarea id="message" name="message" class="form-control" placeholder="Оставьте комментарий здесь" style="height: 100px"></textarea>
                                    </div>
                                </div>
        
                                <div class="mb-2 ms-2 p-1">
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                                
                              </div>
                        </form>
                    </div>
                    
                    <div class="col-sm-6 p-5">
                      <div class="p-1">
                        
                        <h2>Наши контакты</h2>

                        <p>Для обоснования преимуществ товаров нередко используются сравнения.

                          <br>Вы можете предоставить на обозрение клиента несколько товаров одной категории и рассказать об особенностях каждого из них, сравнить технические характеристики и внешние данные.
                          
                          Такой механизм часто используют в интернет-магазинах бытовой техники и электроники.<br>
                          <br>Он помогает покупателю в деталях представить образ товара и выбрать наиболее оптимальный для себя вариант.
                          <br>
                          
                          Пример: на картинке ниже Вы можете увидеть наглядный пример. Представим, что покупатель рассматривает микроволновку, в его голове уже сформировались определенные требования, а сравнения помогают выбрать лучший вариант.
                        </p>
                        
                      </div>
                    </div>
                  
                  </div>
  
                </div>

            </div>

        </div>

        <div class="fixed-bottom">
          
          <div class="col-2 bg-dark text-white p-2">

            <div class="col ms-1 mb-3 me-2"><hr></div>
            
            <div class="d-flex align-items-center ms-3">
              <img src="https://www.svgrepo.com/show/82178/boy.svg" alt="./data/icon_man.png" width="30" height="30" class="d-inline-block rounded-circle">
                        
              <div class="flex-grow-0 text-white">
                <select class="form-select bg-dark text-white" style="--bs-border-color: #161719" aria-label="Пользователь">
                    <option selected>Пользователь</option>
                    <option value="1">Профиль</option>
                    <option value="1">Выход</option>
                  </select>
              </div>
            </div>

          </div>
            
        </div>
    </div>
    
  </body>
</html>