<!-- catalog\templates\catalog\base.html -->
{% extends 'catalog/base.html' %}

{% block title %}
  Каталог
{% endblock %}

{% block page_title %}
  <h1>Каталог</h1>
{% endblock %}

{% block content %}
  <div class="container-fluid text-center p-1">
    <div class="row p-4">

      {% for products_category in sorted_category %}

        <h2>Категория: {{ category.name }} продукты</h2>

        {% for product in Молочные %}
          <p>111111</p>
        {% endfor %}
        
      {% endfor %}

    </div>
  </div>
{% endblock %}
